.options {
    display: flex;
}

.example {
    margin: 5px;
    background-color: #eeeeee;
}

strong {
    background-color: lightgoldenrodyellow;
}

.remove {
    background-color: #ffbbbb;
}

.add {
    background-color: #bbffbb;
}