#options {
    display: flex;
}

.example {
    margin: 5px;
    background-color: #eeeeee;
}

.extra-example {
    background-color: #aaaaaa;
}

strong {
    background-color: lightgoldenrodyellow;
}