@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.yes {
    background-color: red;
    font-family: 'Black Ops One';
}